*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(128, 128, 128, 0.293);
}

header{
    background-color: #FF1493;
    padding: 5px;
}

.interface{
    max-width: 1024px;
    margin: 0 auto;
}

.Sobre-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Sobre-menu h1{
    padding: 10px;
    color: white;
}

.Sobre-menu ul{
    list-style-type: none;
    display: flex;
}

.Sobre-menu ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 8px
}
/* Estilo Cabeçalho */

.img-column img {
    width: 85%;
    
}

.sobre-loja{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
}

.txt-sobre h2 {
    color: #FF1493;
    padding-bottom: 8px;
    border-bottom: 2px solid;
    font-size: 28px;
    font-style: italic;
}

.txt-sobre p {
    padding-top: 16px;
    text-align: justify;
}
/* Estilo Sobre-loja */

.interface > h2 {
    color: #FF1493;
    border-bottom: 2px solid;
    font-size: 28px;
    font-style: italic;
    margin: 30px;
}

.produtos{
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    margin: 30px;
    gap: 50px;
    flex-wrap: wrap;
}


.conteudo h3{
    padding-top: 8px;
}

.conteudo p {
    padding-top: 8px;
    text-align: justify;
    padding-bottom: 8px;
}

.conteudo span{
    font-weight: bold;
}

.tbn button {
    background-color: #FF1493;
    color: white;
    padding: 10px 10px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    margin-top: 8px
} 

.tbn button {
    width: 100%;
}

.tbn button:hover{
    background-color: #900750;
    cursor: pointer;
}


footer{
    background-color: #FF1493;
    color: white;
    padding: 16px;
}


@media screen and (max-width: 640px) {
    .img-column img {
        width: 100%;
    }

    .txt-sobre h2{
        padding-top: 20px;
    }

    .sobre-loja{
        display: grid;
        grid-template-columns: auto;
        margin: 50px;
    }

    .produtos{
        display:grid;
        grid-template-columns: auto;
        margin: 50px;
        max-width: 100%;
    }

        .interface > h2 {
            margin: 50px;
        }

    .conteudo img {
        width: 100%;
    }

    .tbn button{
        width: 100%;
    }
}


@media screen and (min-width: 641px) and (max-width:1023px){
    .img-column img {
        width: 100%;
    }

    .Sobre-menu h1{
        font-size: 40px;
    }

    .sobre-loja {
        grid-template-columns: subgrid;
        margin: 45px;
    }

    .txt-sobre h2 {
        padding-top: 15px;
        font-size: 36px;
    }

    .produtos{
        grid-template-columns: repeat(2, 1fr);
        margin: 45px;
    }

    .interface > h2 {
        margin: 45px;
        font-size: 36px;
    }

    .conteudo img {
        width: 100%;
    }

    .tbn button{
        width: 100%;
    }
}